<div class="mx-auto w-2/3 w-full flex mb-24">
  <div class="mx-auto sm:mt-24 mt-14">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @treino %>

    <div class=" flex sm:flex-row flex-col sm:items-center items-left mt-14  ml-0 ">
      <div>
        <%= link_to "Editar Treinos", edit_treino_path(@treino), class: "rounded-lg py-3 px-5 bg-green-500 inline-block font-medium text-white" %>
      </div>
      <div class="inline-block sm:ml-2">
        <%= button_to "Deletar Treino", @treino, method: :delete, class: "sm:mt-0 mt-4 rounded-lg py-3 px-5 bg-red-600 font-medium text-white"%>
      </div>
      <div>
        <%= link_to "Ver Todos Treinos", treinos_path, class: "sm:ml-2 sm:mt-0 mt-4 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
