<div id="<%= dom_id(dish) %>" class="sm:ml-0 sm:ml-0 ml-0">
  <p class="my-5">
    <strong class="block mb-1 text-red-600 text-xl font-semibold">Título:</strong>
    <%= tag.span dish.title, class: "text-white" %>
  </p>

  <p class="lg:w-[50vw] w-[80vw]">
    <strong class="block mb-1 text-red-600 text-xl font-semibold">Descrição:</strong>
    <%= tag.span dish.description, class: "text-white break-words" %>
  </p>

  <p class="my-5 flex">
    <strong class="block mb-1 text-red-600 text-base font-semibold">Calorias:</strong>
    <%= tag.span dish.calories, class: "text-white pl-2" %>
    <%= tag.span "kcal", class: "text-gray-400 pl-1" %>
  </p>

</div>
