<%= form_with(model: dish, class: "contents") do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :image, class: 'text-white' %>
    <%= form.text_field :image, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full bg-gray-700 border-none" %>
  </div>

  <div class="my-5">
    <%= form.label :Título, class: 'text-white' %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full bg-gray-700 border-none" %>
  </div>

  <div class="my-5">
    <%= form.label :Descrição, class: 'text-white' %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full bg-gray-700 border-none" %>
  </div>

  <div class="w-full flex justify-between items-end mb-10">
    <div class="w-[40%]">
      <%= form.label :Calorias, class: 'text-white' %>
      <%= form.number_field :calories, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full bg-gray-700 border-none" %>
    </div>

    <div class="field">
      <%= form.label :Dia, class: 'text-white' %>
      <%= form.collection_select :day_id, @days, :id, :name, { }, { class: "text-white sm:w-[100%] w-[50px] border-gray-400 bg-gray-700 border-none" } %>
    </div>
  </div>
  
  <div class="inline">
    <% if dish.new_record? %>
      <%= form.submit "Adicionar Prato", class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
    <% else %>
      <%= form.submit "Editar Prato", class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>
  </div>
<% end %>
