<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>
<body>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% content_for :title, "Dishes" %>
    <div class="w-[100%] flex flex-col justify-center items-center sm:mb-32 mb-10 mt-6" data-aos="fade-left">
      <div class="w-full flex items-center justify-center">
        <div class="sm:w-[60%] w-full flex sm:justify-between justify-around items-center sm:mt-14 mt-10 mb-14">
          <h1 class="font-bold sm:text-4xl text-3xl text-white">Dietas</h1>
          <%= link_to "Novo Prato +", new_dish_path, class: "rounded-lg py-3 px-5 bg-red-700 text-white block font-medium" %>
        </div>
      </div>

      <div class="w-[80%] flex overflow-x-scroll">
        <% ["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado", "Domingo"].each do |dia| %>
          <div class="flex flex-col sm:w-full w-[90%] items-center sm:mr-14 mr-5">
            <h2 class="font-bold text-2xl text-white mb-4 sm:mt-14 "><%= dia %></h2>
            <div class=" sm:w-[400px] w-[280px] overflow-y-scroll flex flex-col items-center max-h-[550px]">
              <% day = Day.find_by(name: dia) %>
              <% if day %>
                <% dishes_for_day = @dishes.select { |dish| dish.day_id == day.id } %>
                <% if dishes_for_day.any? %>
                  <% dishes_for_day.each do |dish| %>
                    <div class="bg-zinc-950 sm:w-[400px] w-[80%] rounded-xl mt-4 mb-4">
                      <div class="w-[100%] truncate -mt-5">
                        <% if dish.image.attached? %>
                          <div class="my-5">
                            <%= image_tag dish.image, class: "w-full rounded-t-xl sm:h-[250px] h-[150px] -mb-4" %>
                          </div>
                        <% end %>
                        <div class="p-8 w-[90%] truncate">
                          <%= render dish %>
                        <p>
                          <%= link_to "Ver Mais >", dish, class: "rounded-lg py-1 px-2 bg-green-600 inline-block text-base text-gray-200" %>
                        </p>
                      </div>
                    </div>
                    </div>
                  <% end %>
                <% else %>
                  <p class="text-gray-400 text-base mt-4 sm:w-[200px] h-[60vh] w-[60%]">
                    Sem Pratos, adicione novos pratos e mantenha sua dieta em dia.
                  </p>
                <% end %>
              <% else %>
                <p class="text-gray-400 text-base mt-4">
                  Dia não encontrado.
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 2000,
    });
  </script>
</body>
</html>
